<div class="container">
  <a routerLink="/" style="align-self: flex-start; margin-left: 1em;">Revenir au menu</a>
  <div class="panel-container">
    <form [formGroup]="changeDisplayName" (ngSubmit)="onChangeDisplayName()">
      <h2>Profile</h2>
      <div class="form-group">
        <label for="displayName">Pseudo</label>
        <input type="text" id="displayName" formControlName="displayName" class="form-control" autocomplete="off">
      </div>
      <button type="submit" class="button-submit" [disabled]="changeDisplayName.invalid">Changer de pseudo</button>
    </form>
  </div>
</div>
