<div>
  <a routerLink="/">Quitter la salle</a>
  <h3>Salle : {{roomName}}</h3>
  <div>
    <div class="players-container">
      <!-- display players -->
      <div *ngFor="let player of playersList" class="player-display" [style.background]="currentPlayer==playerName ? 'transparent' : 'red'">
        <ul>
          <li>{{player.name}}</li>
          <li><small>{{player.cards}}</small></li>
        </ul>
      </div>
    </div>
    <app-card cardName="card_back" (click)="onPickCard()"></app-card>
    <app-card [cardName]="currentCard"></app-card>
    <div *ngIf="forcedColor" style="width: 20px; height: 20px;" [style.background]="forcedColor"></div>
  </div>
  <div class="deck-container" style="display: flex; flex-direction: row;">
    <app-card *ngFor="let card of cards; let i = index" [cardName]="card" [cardIndex]="i" (click)="onPutCard(i, card)"></app-card>
  </div>
  <div *ngIf="isSelectingColor">
    <h4>Choisir la couleur</h4><span (click)="isSelectingColor=false">*close*</span>
    <div>
      <button (click)="selectColor('blue')">Bleu</button>
      <button (click)="selectColor('yellow')">Jaune</button>
      <button (click)="selectColor('green')">Vert</button>
      <button (click)="selectColor('red')">Rouge</button>
    </div>
  </div>
</div>
<app-chat></app-chat>
