.global-container{
  display: flex;
  justify-content: space-between;
}
.container{
  width: 100%;
}
/*game container*/
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.deck-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}
.card:last-child{
  flex:1;
  min-width: 120px;
  max-width: 120px;
}
.card{
  flex: 1;
  min-width: 20px;
  max-width: 120px;
}

.cardDisabled{
  filter: grayscale(75%);
}
//players container
.players-container{
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
}
.player-display{
  margin: 0;
  padding: 0;
}
.player-profile{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: var(--border-radius);
}
.player-name{
  color: var(--font-color);
  margin-bottom: 0.5em;
}
.player-cards{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-cards span{
  position: absolute;
  color: white;
  font-size: 24px;
}

/*select color pop-up*/
.pop-up-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.pop-up-panel{
  padding: 2em;
  border-radius: var(--border-radius);
  background: var(--container);
  box-shadow: 0px 0px 5px var(--form-control-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pop-up-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pop-up-list button{
  margin: 1em;
  padding: 1em;
  color: var(--font-color);
  border: none;
}

.clicker{
  cursor: pointer;
  border-radius: var(--border-radius);
}
/*container score and wait */
.score-container h4{
  text-align: center;
  color: var(--font-color);
  font-size: larger;
}

.player-list{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.player-list-item{
  background: var(--container);
  border-radius: var(--border-radius);
  padding: 0;
  margin: 0.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-list-item span{
  padding: 1em;
  color: var(--font-color-darker);
}
//border on score screen
.score-container .player-list-item span{
  border-right: 1px solid var(--font-color-darker);
}
.player-list-item small{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: var(--font-color-darker);
}

.form-group-submit{
  display: flex;
  justify-content: center;
}
.form-group-submit p{
  color: var(--font-color);
}

.form-control-submit{
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-radius: var(--border-radius);
  border: none;
  color: var(--font-color);
  background: var(--form-control-submit);
  padding: 1em;
  font-size: 1em;
  transition: 0.2s;
  outline: none;
}
.form-control-submit:hover:enabled{
  color: var(--font-color);
  background: var(--form-control-active);
}
