<div class="global-container">
  <div class="container" [ngSwitch]="inGame">
    <a routerLink="/">Quitter la salle</a>

    <div class="score-container" *ngSwitchCase="false">
      <h4>scores :</h4>
      <ul class="player-list">
        <li *ngFor="let player of playersList" class="player-list-item"><span>{{player.name+ (player.name==playerName? "(moi)": "")}}</span><small>{{player.score}}</small></li>
      </ul>
      <div [ngSwitch]="isAdmin" class="form-group-submit">
        <button *ngSwitchCase="true" (click)="InitParty()" class="form-control-submit">Prochaine manche</button>
        <p *ngSwitchDefault>En attente de l'hote...</p>
      </div>
    </div>
    <div class="game-container" *ngSwitchCase="true">
      <div class="players-container">
        <!-- display players -->
        <div *ngFor="let player of playersList" class="player-display">
          <ul class="player-profile" [style.background]="currentPlayer==player.name ? 'var(--form-control-submit)' : 'transparent'">
            <li class="player-name">{{ player.name!=playerName ? player.name : 'moi' }}</li>
            <li class="player-cards"><img src="assets/icons/player_cards.png" width="40px"><span>{{player.cards}}</span></li>
          </ul>
        </div>
      </div>
      <div class="card-container">
        <app-card cardName="card_back_alt" [cardTheme]="cardTheme" (click)="onPickCard()" [fixed]="true" [cursor]="canPlay&&!hasPickCard" style="position: absolute; left: 2em;"></app-card>
        <img src="assets/icons/Turn.png" style="width: 120px" [style.transform]="'scaleY('+turn+')'">
        <app-card [cardName]="currentCard" [cardTheme]="cardTheme" [fixed]="true" [cursor]="false" style="padding: 0.5em; border-radius: 0.5em;" [style]="{background: forcedColor ? 'var(--'+forcedColor+')' : 'transparent'}"></app-card>
        <img src="assets/icons/Turn.png" style="width: 120px" [style.transform]="'rotate(-180deg) scaleY('+turn+')'">
      </div>
      <div class="deck-container">
        <app-card *ngFor="let card of sortedCards; let i = index" [cardName]="card" [cardTheme]="cardTheme" (click)="onPutCard(i, card)" [style.z-index]="i" class="card" [cursor]="currentPlayer==playerName" [cardDisabled]="isStackingCard&&currentCard.split('_')[currentCard.split('_').length-1] != card.split('_')[card.split('_').length-1]"></app-card>
      </div>
    </div>
    <div class="wait-container" *ngSwitchDefault>
      <ul class="player-list">
        <li *ngFor="let player of playersList"  class="player-list-item"><span>{{player.name+ (player.name==playerName? " (moi)": "")}}</span></li>
      </ul>
      <div [ngSwitch]="isAdmin" class="form-group-submit">
        <button *ngSwitchCase="true" (click)="InitParty()" class="form-control-submit">Lancer la partie</button>
        <p *ngSwitchDefault>En attente de l'hote...</p>
      </div>
    </div>

    <div class="pop-up-container" *ngIf="isSelectingColor">
      <div class="pop-up-panel">
        <span (click)="isSelectingColor=false" style="align-self: flex-end; cursor: pointer;"><i class="gg-close"></i></span>
        <h4 style="margin-top: 0; user-select: none;">Choisir la couleur</h4>
        <div class="pop-up-list">
          <button (click)="selectColor('blue')" class="clicker" style="background: var(--blue); width: 3em; height: 3em;"></button>
          <button (click)="selectColor('yellow')" class="clicker" style="background: var(--yellow); width: 3em; height: 3em;"></button>
          <button (click)="selectColor('green')" class="clicker" style="background: var(--green); width: 3em; height: 3em;"></button>
          <button (click)="selectColor('red')" class="clicker" style="background: var(--red); width: 3em; height: 3em;"></button>
        </div>
      </div>
    </div>
  </div>
  <app-chat></app-chat>
</div>
