.title{
  color: var(--title-color);
  text-align: center;
  font-size: 4em;
  margin-top: 0.5em; margin-bottom: 0.5em;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
