/* You can add global styles to this file, and also import other style files */
html{
  background : var(--bg);
  font-family: var(--font);

  --bg: white;
}
a:link{
  text-decoration: none;
  color: var(--form-control-submit);
  transition: 0.2s;
}
a:visited{
  text-decoration: none;
  color: var(--form-control-submit);
  transition: 0.2s;
}
a:hover{
  text-decoration: underline;
}
html{
  --container: #DFE6E9;
  --form-control-background: #36393E;
  --form-control-active: #0775AB;
  --form-control-submit: #3FB0E7;
  --font-color-darker: #67696D;
  --font-color-danger: #C0392B;
  --blue: #3498DB;
  --yellow: #FED230;
  --red: #E74C3C;
  --green: #1CB559;
  --font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --border-radius: 0.6em;
}

//flat-dark theme
html[data-theme='flat-dark']{
  --bg: #36393E;
  --font-color: white;
  --title-color: white;
}

//flat-light theme
html[data-theme='flat-light']{
  --bg: white;
  --font-color: white;
  --title-color: #36393E;
}

.google{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 1em;
  padding: 0.8em;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px grey;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
.gg-close::after {
  transform: rotate(-45deg)
}
