<div class="container-global">
  <div class="container">
    <!-- <h2 class="title">Se connecter</h2> -->
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="form-container">
      <div class="form-group">
        <label for="email">Email :</label>
        <input class="form-control" type="text" id="email" formControlName="email" autocomplete="none">
      </div>
      <div class="form-group">
        <label for="email">Mot de passe :</label>
        <input class="form-control" type="password" id="password" formControlName="password">
      </div>
      <div class="form-submit">
        <p class="error-msg">{{ Errormsg }}</p>
        <button type="submit" [disabled]="signInForm.invalid">Se connecter</button>
      </div>
    </form>
    <p class="signup">Pas de compte ? <a routerLink="/auth/signup">Créer un compte maintenant</a></p>
    <button (click)="onSignInWithGoogle()" class="google">Se connecter avec Google</button>
  </div>
</div>
